<!-- Banner -->
{% capture title_first %}{{ page.title | truncatewords: 1, "" }}{% endcapture %}
{% capture title_last %}{{ page.title | remove: title_first }}{% endcapture %}
<section id="banner">
	<div class="inner">
		<h2 class="main_title">{{ title_first }}<strong>{{ title_last }}</strong></h2>
		<p>{{ page.description }}</p>
		<ul class="actions">
			<li><a href="#" class="button special">{% if page.lang == "hu" %}Használat{% else %}Usage{% endif %}</a></li>
		</ul>
	</div>
	<a href="#one" class="more scrolly">{% if page.lang == "hu" %}Tudj meg többet{% else %}Learn more{% endif %}</a>
</section>
