<!-- Page Wrapper -->
<div id="page-wrapper">

	<!-- Header -->
	<header id="header" {% if page.layout == 'default' %} class="alt" {% endif %}>
		<h1><a href="{{ site.baseurl | prepend: site.url }}">{{ site.title }}</a></h1>
		<nav id="nav">
			<ul>
				<li><a href="{% if page.lang == "en" %}{{ site.baseurl | prepend: site.url }}{% else %}{{ site.baseurl | prepend: site.url }}/en/{% endif %}"><span>{% if page.lang == "hu" %}English{% else %}Magyar{% endif %}</span></a></li>
				<li class="special">
					<a href="#menu" class="menuToggle"><span>{% if page.lang == "hu" %}Menü{% else %}Menu{% endif %}</span></a>
					<div id="menu">
						<ul>
							{% for page in site.pages %} {% if page.layout == "default" %}
							<li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
							{% endif %} {% endfor %} {% for page in site.pages %} {% if page.layout == "page" %}
							<li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
							{% endif %} {% endfor %}
						</ul>
					</div>
				</li>
			</ul>
		</nav>
	</header>
